.chordname {
  display: block;
  margin: auto;
  font-family: "Marvel", cursive;
  font-size: 20px;
  text-align: center;
  margin-top: 2px;
  margin-bottom: -9px;
}
.chord, .chord div {
  display: inline;
}
.mandochord-widget {
  background-color: white;
  border: 3px solid black;
  border-radius: 14px 14px 0 0;
}
.pinner {
  position: absolute;
  right: 22px;
  margin-top: 6px;
}
